/hw0/build/
/hw0/dist/
/hw1/build/
/hw1/dist/
/hw2/build/
/hw2/dist/
/test/build/
/test/dist/
/hw3/build/
/hw3/dist/
/hw4/build/
/hw4/dist/
/hw4_client/build/
/hw4_client/dist/
/hw4_server/build/
/hw4_server/dist/
/hw5/build/
/hw5/dist/
/hw6/build/
/hw6/dist/